.main__search {
  width: 90%;
  margin: 0 auto;
}

.wrapper__catalod--search {
  display: flex;
  flex-wrap: wrap;
}

.MuiPagination-ul {
  display: flex;
  justify-content: center;
}

.MuiPagination-root {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
}

.MuiPaginationItem-outlinedPrimary.Mui-selected {
  // color: #0f33ff !important;
  background-color: rgba(63, 81, 181, 0.2) !important;
}

.MuiButtonBase-root {
  color: rgba(255, 255, 255, 0.623) !important;
  background-color: rgba(63, 81, 181, 0.12) !important;
}
